setuptools
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
authlib
itsdangerous
motor==3.6.0
pydantic[email]
asyncio
httpx
fastapi[standard]
websockets
slowapi
redis==4.5.5
pandas
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fastapi-sso
asgiref
pymongo
fastapi-cache2[redis]==0.2.2  # Requires pendulum>=3
pendulum==3.0.0               # Requires Rust (cargo) for install
jinja2
pyjwt
