setuptools
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
authlib
itsdangerous
motor==3.6.0
pydantic[email]
asyncio
httpx
fastapi[standard]
websockets
slowapi
redis==4.5.5
fastapi-sso
asgiref
pymongo
fastapi-cache2[redis]
pendulum
jinja2
pyjwt